/* Assigns a light-blue background colour. Format from https://www.w3schools.com/css/css_selectors.asp */
body {
    background-color: lightblue;
  }
/* Sizes text to 20 pixels, centers the text within the nav bar, changes nav bar font to times new roman. 
/* Format of id selector from https://www.w3schools.com/css/css_selectors.asp */
  ul#navbartext {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
/* Adds margin around text and creates a white nav bar with a black border.*/ 
/* Idea from https://www.w3schools.com/css/css_navbar.asp*/
    ul {
    list-style-type: none;
    margin: 60px;
    padding: 0px;
    overflow: hidden;
    border: 3px solid black;
    background-color: white;
    width: 15%;
  }
/* 3 declarations set*/ 
/* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  h1 {
    color: darkred;
    text-align: center;
    font-family: Papyrus;
    font-size: 32px; /* default declaration for h1 was overriden.*/ 
    margin-block-start: 0.669em;  /* default declaration for h1 was overriden.*/ 
  }
 
/* enough padding to space it out from the API images on the first page, and the regular images from the second page*/ 
/* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  p {
    color:black;
    font-family: Monaco, serif;
    font-size: 20px;
    padding: 60px;
    clear: both; 
  }
/* assigns the colour darkred and the font times new roman to the link font */ 
/* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  a {
    color:darkred;
    font-family: 'Times New Roman', Times, serif;
  }
/* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  .images {
    color:darkred; /* sets images alt text colour to dark red*/ 
    font-family: Papyrus; /* sets image alt text font to papyrus*/ 
    width: 450px;
    height: 600px;
    float:left; /* allows the images to be formatted side by side rather than stacked vertically*/ 
  }
/* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  .API {
    color:darkred; /* sets API images alt text colour to dark red*/ 
    font-family: Papyrus; /* sets API images alt text font to papyrus*/ 
    width: 600px;
    height: 600px;
  }
  /* Format of class selector from https://www.w3schools.com/css/css_selectors.asp */
  .bottomlink { /* adds padding to allow links to be seperated from the paragraph.*/ 
    padding-left: 200px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif; /* sets font to times new roman*/ 
  }
