body {
    background-color: lightblue;
  }
  
  h1 {
    color: darkred;
    text-align: center;
    font-family: Papyrus;
  }
 
  p {
    color:darkred;
    font-family: Papyrus;
  }

  a {
    color:darkred;
    font-family: Papyrus;
  }

  img {
    color:darkred;
    font-family: Papyrus;
    width: 450px;
    height: 600px;
  }

  .API {
    color:darkred;
    font-family: Papyrus;
    width: 600px;
    height: 550px;
  }
  
  .secthird {
    padding-left: 100px;
  }


